
<section class="bg-white">
    <div class="max-w-screen-xl mx-auto py-32 text-[#191c21]">
      <h2 class="text-5xl font-bold font-sans">A FEW WORDS ABOUT US</h2>
      <p class="text-[#9ea3ab] py-8 text-lg">Our goal is to find and solve financial needs. It’s how we do it that sets us apart. We identify it as exploration, education, implementation and partnership.
    </p>
      <div class="grid grid-cols-3 gap-10 pt-24">
        <div>
          <span class="one_black"></span>
          <h3 class="text-xl font-bold font-sans">OUR APPROACH</h3>
          <p class="text-[#9ea3ab] py-8 text-lg">A high return objective can be achieved over the <br>
             long term only through an aggressive, equity- <br>
             biased approach.</p>
        </div>
        <div>
          <span class="one_black"></span>
          <h3 class="text-xl font-bold font-sans">LONG EXPERIENCE</h3>
          <p class="text-[#9ea3ab] py-8 text-lg">Experience gets the job done. Our team has more <br>
             than 150 years of combined investment <br>
              management experience.</p>
        </div>
        <div>
          <span class="one_black"></span>
          <h3 class="text-xl font-bold font-sans">OUR STRATEGY</h3>
          <p class="text-[#9ea3ab] py-8 text-lg">Over the years, our progressive strategy and <br>
             meticulous methods have resulted in dynamic <br>
              performance for our clients.</p>
        </div>
      </div>
    </div>
  </section>

  
<section class="bg-[#191c21] ">
    <div class="max-w-screen-xl mx-auto py-32 text-white">
      <h2 class="text-5xl font-bold font-sans">EMPLOYMENT <br>OPPORTUNITIES</h2>
      <p class="text-[#9ea3ab] pt-6 text-lg">We remain committed to providing our employees with opportunities for personal and professional growth, whether it is by providing reimbursement of educational expenses, encouraging attendance at seminars and in-house training programs, or by sponsoring memberships in local civic organizations. Our employees participate in numerous coaching, training, and education programs throughout the year. We know that the success of our employees means success for our Company, if you would like to join the more than 1,000 employees or simply find out what positions are available please visit our online job postings.
      </p>
      <br><br>
      <span class="font-bold">[</span><button class="px-2 hover:px-6 duration-[400ms] font-bold">MORE</button><span
          class="font-bold">]</span>
    </div>
    
</section>



<footer class="w-full bg-white p-8 mt-20">
    <div class="max-w-screen-xl mx-auto flex flex-row flex-wrap gap-y-6 gap-x-12 bg-white">
      <a href="#"
        class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased">
        <p class="logo">Scope</p>
      </a>
      <div class="ml-auto text-right">
        <h3>28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</h3>
      <h4 class="pt-6">TEL: 80023456789</h4>
      <p>7 DAYS A WEEK FROM 9:00 AM TO 7:00 PM</p>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto">
      <ul class="mx-auto hidden items-center gap-6 lg:flex ">
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center text-[#9ea3ab] hover:text-[#191c21]" href="#"
           routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            HOME
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#"
          routerLink="/about-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            ABOUT
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            BLOG
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            GALLERY
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            CONTACTS
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-8 border-blue-gray-50" />
    <p class="block text-center font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
      © 2023 Material Tailwind
    </p>
  </footer>
  
  