

.logo
{
	font: 700 34px/34px 'Montserrat',sans-serif;
    letter-spacing: .34em;
    text-transform: uppercase;
}
.one_black
{
    content: "";
    width: 34px;
    height: 3px;
    display: block;
    background: #191c21;
    position: relative;
    margin-bottom: 22px;
}