<div class="max-w-screen-xl mx-auto pt-20">
  <div data-te-lightbox-init class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
    <div class="h-full w-full">
      <img src="../assets/image/slide-1.jpg" data-te-img="../assets/image/slide-1.jpg" alt="Table Full of Spices"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
    <div class="h-full w-full">
      <img src="../assets/image/slide-2.jpg" data-te-img="../assets/image/slide-2.jpg" alt="Winter Landscape"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
    <div class="h-full w-full">
      <img src="../assets/image/slide-3.jpg" data-te-img="../assets/image/slide-3.jpg"
        alt="View of the City in the Mountains" class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
  </div>
  <div data-te-lightbox-init class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0 pt-6 ">
    <div class="h-full w-full">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
        data-te-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp" alt="Table Full of Spices"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
    <div class="h-full w-full">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/2.webp"
        data-te-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/2.webp" alt="Winter Landscape"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
    <div class="h-full w-full">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/3.webp"
        data-te-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/3.webp" alt="View of the City in the Mountains"
        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
    </div>
  </div>
</div>




<footer class="w-full bg-white p-8 mt-20">
  <div class="max-w-screen-xl mx-auto flex flex-row flex-wrap gap-y-6 gap-x-12 bg-white">
    <a href="#"
      class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased">
      <p class="logo">Scope</p>
    </a>
    <div class="ml-auto text-right">
      <h3>28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</h3>
      <h4 class="pt-6">TEL: 80023456789</h4>
      <p>7 DAYS A WEEK FROM 9:00 AM TO 7:00 PM</p>
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto">
    <ul class="mx-auto hidden items-center gap-6 lg:flex ">
      <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
        <a class="flex items-center text-[#9ea3ab] hover:text-[#191c21]" href="#" routerLink="/home-component"
          routerLinkActive="active" ariaCurrentWhenActive="page">
          HOME
        </a>
      </li>
      <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
        <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#" routerLink="/about-component"
          routerLinkActive="active" ariaCurrentWhenActive="page">
          ABOUT
        </a>
      </li>
      <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
        <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
          BLOG
        </a>
      </li>
      <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
        <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
          GALLERY
        </a>
      </li>
      <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
        <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
          CONTACTS
        </a>
      </li>
    </ul>
  </div>
  <hr class="my-8 border-blue-gray-50" />
  <p class="block text-center font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
    © 2023 Material Tailwind
  </p>
</footer>