<section class="">
    <div>
      <h2 class="text-5xl font-bold font-sans mx-44 pb-10 pt-24">
        BLOG
      </h2>
    </div>
    <div class="">
      <img class="mx-auto" src="../assets/image/blog-1.jpg" alt="">
    </div>
    <div class=" mx-44 pt-6">
      <h2 class="text-5xl font-bold font-sans">IMPROVING <br> NATIONAL ECONOMY</h2>
      <p class="text-[#9ea3ab] pt-6">Our Investment Company, located in Rockville, Maryland, is a full-service Investment
        company that provides
        acquisition,development and finance expertise
        <br> for both commercial and multi-family projects.
      </p>
    </div>
    <div class="">
      <img class="mx-auto" src="../assets/image/blog-8.jpg" alt="">
    </div>
    <div class=" mx-44 pt-6 pb-10">
      <h2 class="text-5xl font-bold font-sans">IMPROVING <br> NATIONAL ECONOMY</h2>
      <p class="text-[#9ea3ab] pt-6">Our Investment Company, located in Rockville, Maryland, is a full-service Investment
        company that provides
        acquisition,development and finance expertise
        <br> for both commercial and multi-family projects.
      </p>
    </div>
    <div>
    </div>
    <div class="">
      <img class="mx-auto" src="../assets/image/blog-7.jpg" alt="">
    </div>
    <div class=" mx-44 pt-6 pb-10 ">
      <h2 class="text-5xl font-bold font-sans">IMPROVING <br> NATIONAL ECONOMY</h2>
      <p class="text-[#9ea3ab] pt-6">Our Investment Company, located in Rockville, Maryland, is a full-service Investment
        company that provides
        acquisition,development and finance expertise
        <br> for both commercial and multi-family projects.
      </p>
    </div>
  </section>
  
  
  <section class="">
    <div class="flex justify-center">
      <a href="#" routerLink="/blog-component" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="items-center hidden px-4 py-2 mx-1 text-[#191c21] transition-colors duration-300 transform bg-[#9ea3ab] sm:flex dark:bg-gray-800 dark:text-gray-200 hover:bg-[#191c21] dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
        1
      </a>
    
      <a href="#" routerLink="/two-component" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="items-center hidden px-4 py-2 mx-1 text-[#191c21] transition-colors duration-300 transform bg-[#9ea3ab] sm:flex dark:bg-gray-800 dark:text-gray-200 hover:bg-[#191c21] dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
        2
      </a>
    
      <a href="#" routerLink="/three-component" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="items-center hidden px-4 py-2 mx-1 text-[#191c21] transition-colors duration-300 transform bg-[#9ea3ab] sm:flex dark:bg-gray-800 dark:text-gray-200 hover:bg-[#191c21] dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
        3
      </a>
      
      <a href="#" routerLink="/four-component" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="items-center hidden px-4 py-2 mx-1 text-[#191c21] transition-colors duration-300 transform bg-[#9ea3ab] sm:flex dark:bg-gray-800 dark:text-gray-200 hover:bg-[#191c21] dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
        4
      </a>
    
      <a href="#"
        class="flex items-center px-4 py-2 mx-1 text-[#191c21] transition-colors duration-300 transform bg-[#9ea3ab] dark:bg-gray-800 dark:text-gray-200 hover:bg-[#191c21] dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
        Next
      </a>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <footer class="w-full bg-white p-8 mt-20">
    <div class="max-w-screen-xl mx-auto flex flex-row flex-wrap gap-y-6 gap-x-12 bg-white">
      <a href="#"
        class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased">
        <p class="logo">Scope</p>
      </a>
      <div class="ml-auto text-right">
        <h3>28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</h3>
        <h4 class="pt-6">TEL: 80023456789</h4>
        <p>7 DAYS A WEEK FROM 9:00 AM TO 7:00 PM</p>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto">
      <ul class="mx-auto hidden items-center gap-6 lg:flex ">
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center text-[#9ea3ab] hover:text-[#191c21]" href="#" routerLink="/home-component"
            routerLinkActive="active" ariaCurrentWhenActive="page">
            HOME
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#" routerLink="/about-component"
            routerLinkActive="active" ariaCurrentWhenActive="page">
            ABOUT
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            BLOG
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            GALLERY
          </a>
        </li>
        <li class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased">
          <a class="flex items-center ml-6 text-[#9ea3ab] hover:text-[#191c21]" href="#">
            CONTACTS
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-8 border-blue-gray-50" />
    <p class="block text-center font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
      © 2023 Material Tailwind
    </p>
  </footer>